* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.navMenu li {
  font-family: 'Robot';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7c7c7c;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 10px;

  width: 215px;
  height: 40px;
}
.navMenu li a {
  width: 215px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
}
.newsList {
  width: 600px;
  margin: 10px auto;
}
.newsList li {
  margin-top: 10px;
}
.catalog-filter {
  width: 289px;
  background: #f3f3f3;
  border-left: 1px solid #d1d1d1;
}
.card-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  color: #282828;
}
.card-line {
  width: 95%;
  margin: 8px 0px;
  height: 1px;
  background: #d9d9d9;
}
.catalog-filter {
  background-image: url(./components/assets/filter.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.card-light {
  margin-left: 4px;
  padding: 1.5px;
  border: solid 1px #000;
  border-radius: 25%;
}
.card-button {
  margin-top: 10px;
}
.logo {
  display: 'flex';
  align-items: 'center';
  flex-direction: 'column';
  margin: 0 auto;
}
.header {
  min-width: '200px';
  min-height: '95vh';
  background-color: '#FFFFFF';
  border-right: '1px solid #D1D1D1';
}
.nav-menu-wrapper {
  margin-top: 63px;
}
.navMenu {
  list-style: 'none';
}
.catalog-cars {
  width: 90%;
}
.news-wrapper {
  min-height: 95vh;
}
@media screen and (max-width: 700px) {
  .logo img {
    display: none;
  }
  .header {
    position: fixed;
    width: 100%;
    min-height: 5vh;
    background-color: #d9d9d9;
    z-index: 999;
    bottom: 0;
  }
  .nav-menu-wrapper {
    margin-top: 0px;
  }
  .navMenu {
    display: flex;
  }
  .nav-span {
    display: none;
  }
  .navMenu li a {
    width: 35px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
  }
  .newsList li {
    margin-top: 0px;
  }
  .catalog-filter {
    display: none;
  }
  .catalog-cars {
    width: 100%;
  }
  .newsList {
    width: 300px;
  }
}
